.ccIconc{
    vertical-align: super;
    color: #34437f;
}
.ccIcon{
    font-size: 72px !important;
    margin-top: -8px;
}
.commI{
    width: 100%;
}
.form-group{
    display: flex;
}

.icc{
    color: black;
}