.signForm{
    text-align: center;
    color: rgb(73, 73, 73);
}

.themeText{
    color: #3f51b5;
}

.bx{
    background: #f7f7f7d4;
    border-radius: 1rem;
    padding: 1rem;
}

@media (min-width: 992px){
    .container1{

        max-width: 95%;
    }
}

@media (min-width: 1200px){
    .container1 {
        max-width: 1140px;
    }
}

.MuiInputBase-input {
    width: 100%;
}