.cont{
    text-align: center;
    background: #f7f7f7d4;
    padding: 2rem;
    border-radius: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}
.items{
    display: grid;
}

.textp{
    display: inline ;
}

h2{
    margin-bottom: 2rem;
}